$color-black: #000;
$color-white: #FFF;

$color-blue-100: #B3D8FF;
$color-blue-300: #71B6FF;
$color-blue-500: #2F93FE;
$color-blue-700: #0971F5;
$color-blue-900: #29435D;

$color-grey-100: #E5E5E5;
$color-grey-300: #C8C8C8;
$color-grey-500: #8391B2;
$color-grey-700: rgba(#8391b2, 0.6);
$color-grey-900: #404040;
