@import '../assets/fonts/GothamPro/gotham-pro.css';
@import '../assets/fonts/MuseoSansCyrl/museo-sans-cyrl.css';
@import '../assets/fonts/Roboto/roboto.css';

$font-gotham-pro-regular: 'Gotham Pro Regular', Arial, Helvetica, sans-serif;
$font-gotham-pro-bold: 'Gotham Pro Bold', Arial, Helvetica, sans-serif;
$font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
$font-museo-sans-cyrl: 'Museo Sans Cyrl', Arial, Helvetica, sans-serif;
