mixin icon(icon)
  if icon==='email'
    include img/icon-email.svg
  if icon==='phone'
    include img/icon-phone.svg
  if icon==='telegram'
    include img/icon-telegram.svg
  if icon==='fb'
    include img/icon-fb.svg
  if icon==='instagram'
    include img/icon-instagram.svg
  if icon==='twitter'
    include img/icon-twitter.svg
  if icon==='vk'
    include img/icon-vk.svg
