header.header
  .header__container
    +logo('https://selectel.ru/')
    nav.header-menu
      ul.header-menu__list
        li.header-menu__item
          +contact('phone')
        li.header-menu__item
          +contact('email')
        li.header-menu__item
          +contact('telegram')
