footer.footer
  .footer__container
    .footer__aside
      +logo('https://selectel.ru/')
      ul.footer__social
        li.footer__social-item
          a.footer__social-link(href='https://vk.com/selectel' target='_blank')
            +icon('vk')
        li.footer__social-item
          a.footer__social-link(href='https://twitter.com/selectel' target='_blank')
            +icon('twitter')
        li.footer__social-item
          a.footer__social-link(href='https://www.instagram.com/selectel.ru/' target='_blank')
            +icon('instagram')
        li.footer__social-item
          a.footer__social-link(href='https://www.facebook.com/selectel/' target='_blank')
            +icon('fb')
    nav.footer-menu
      ul.footer-menu__list
        li.footer-menu__item.footer-menu__item--servers
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Серверы
        li.footer-menu__item.footer-menu__item--equipment
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Оборудование
        li.footer-menu__item.footer-menu__item--data-center
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Дата-центры
        li.footer-menu__item.footer-menu__item--blog
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Блог
        li.footer-menu__item.footer-menu__item--cloud
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Облако
        li.footer-menu__item.footer-menu__item--solutions
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Решения
        li.footer-menu__item.footer-menu__item--about
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') О компании
        li.footer-menu__item.footer-menu__item--offices
          a.footer-menu__link(href='https://selectel.ru/' target='_blank') Офисы
