include components/icon/icon.pug
include components/contact/contact.pug
include components/button-filled/button-filled.pug
include components/button-ghost/button-ghost.pug
include components/checkbox/checkbox.pug
include components/slider/slider.pug
include components/configuration-list/configuration-list.pug
include components/logo/logo.pug
include components/promo/promo.pug
include components/filter/filter.pug
include components/loader/loader.pug
