mixin slider(id, labelId, title)
  div.slider
    h4.slider__title= title
    .slider__container
      .slider__line(id=id)
        .slider__progress
        .slider__handle
      .slider__label(id=labelId)
